body{
	text-align:center;
	font-size:1.3em;
	/*Centrer verticalement dans la fenetre*/
	margin-top:50vh;/*POussé de la moitié  de viewport*/
	transform: translateY(-50%);/*tiré de la moitié de sa  propre hauteur*/
}
.text{
	font-size:1.5em;
	margin-bottom:5px;
}
a{
	display:inline-block;
	text-decoration:none;
	width:80%;
	height:30px;
	margin-top:10px;
	background-color:black;
	color:white;
	padding-top:8px;
	padding-bottom:12px;
	font-size:1.5em;
}
#block{
	border: 3px black inset;
	padding-top:50px;
	padding-bottom:50px;
	
}
table{
	display:inline-block;
	border-collapse:collapse;
}
td{
	border:2px black solid;
	padding:5px;
	background:linear-gradient(to left,darkorange,yellow);
	font-weight:bold;
	color:white;
}
#reponse{
	height:20px;
	width:235px;
}

#form1{
	height:25px;
	width:150px;
	background-color:green;
	font-weight:bold;
	color:white;
}

/*#resultat{
	border: 1px black solid;
	height:75px;
	width:150px;
}*/

#retour{
	width: 25%;
	font-size: 0.8em;
}
*{
	margin:0;
}
/*@Auteur: KAKPO Yaovi Roméo*/